
<% @books.each do |book| %> <!--ユーザー詳細画面-->
<div>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <p>Title</p>
   <span><%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion</p>
   <span><%= book.body %></span>

</div>
<% end %>